<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вопросы и ответы</title>
</head>
<body>
    <h1>Вопросы</h1>
    <a href="{{ url_for('ask') }}">Задать вопрос</a>
    <ul>
        {% for question in questions %}
            <li>
                <h2>{{ question['content'] }}</h2>
                <a href="{{ url_for('answer', question_id=question['id']) }}">Ответы</a>
                <ul>
                    {% for answer in question['answers'] %}
                        <li>{{ answer['content'] }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>